application/octet-stream *

#html
z text/css css
z text/html htm,html
z application/x-javascript js,mjs
z application/json json
z application/ld+json jsonld
application/x-httpd-php php
z text/plain txt,log
application/xhtml+xml xhtml

#application/octet-stream bin
#application/octet-stream dll,exe,sys,so
application/x-sh sh

#images
image/avif avif
image/x-bmp bmp
image/gif gif
image/vnd.microsoft.icon ico
image/jpeg jpeg
image/jpeg jpg
image/apng apng
image/png png
image/svg+xml svg
image/tiff tif,tiff
image/vnd.wap.wmbp wbmp
image/webp webp

#audio
audio/aac aac
audio/amr amr
audio/basic au
application/x-cdf cda
audio/midi mid,midi
audio/mpeg mp3
audio/ogg ogg,oga
audio/opus opus
audio/basic snd
audio/x-wav wav
audio/webm weba

#video
video/3gpp 3gp
video/3gpp2 3g2
video/x-msvideo avi
video/x-flv flv
video/quicktime mov
video/mp4 mp4
video/mpeg mpeg,mpg
video/ogg ogv
application/x-shockwave-flash swf
video/mp2t ts
video/webm webm
video/x-ms-wmv wmv

#rich text
application/vnd.amazon.ebook azw
text/csv csv
application/msword doc
application/vnd.openxmlformats-officedocument.wordprocessingml.document docx
application/epub+zip epub
application/x-latex latex
application/pdf pdf
application/vnd.ms-powerpoint ppt
application/vnd.openxmlformats-officedocument.presentationml.presentation pptx
z application/rss+xml rss
application/rtf rtf
application/vnd.ms-excel xls
application/vnd.openxmlformats-officedocument.spreadsheetml.sheet xlsx
z text/xml xml

#really misc
text/calendar ics
text/v-vcard vcf

#font
application/vnd.ms-fontobject eot
font/otf otf
font/ttf ttf
font/woff woff
font/woff2 woff2

#archive
application/x-7z-compressed 7z
application/x-freearc arc
application/x-bzip bz
application/x-bzip2 bz2
application/octet-stream cab
application/java-archive jar,war
application/gzip gz,tgz
application/x-tar tar
application/x-rar-compressed rar
application/x-zip-compressed zip
application/x-deflate zlib